# dependencias
node_modules/

# build / export de Next.js
.next/
out/

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# entorno
.env*
!.env.example

# sistema/editores
.DS_Store
Thumbs.db
*.swp
.vscode/
.idea/

# vercel (estado local)
.vercel/

# opcional
coverage/
build/
*.tsbuildinfo
next-env.d.ts
