/* Header */

.header-container {
  max-width: 1200 px; /**/
  margin-right: auto;
  margin-left: 0;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  /*padding: 0.5rem 2rem; */
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

/* Header */

.main-header {
  background-color: transparent;
  transition: background-color 0.3s ease;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  line-height: 1;
  padding: 0rem .5rem;
}

.logo {
  flex: 0 0 auto;
}

.logo img {
  display: block;
  margin-top: 2rem;
  margin-left: 2rem;
  padding: 0;
}

header img#logo {
  height: 200px;
  transition: height 0.3s ease;
}

.main-nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  margin-top: 1rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;                /**/
  font-weight: 600;
  transition: color 0.3s ease;
  align-items: center;
}

.nav-links li a:hover {
  color: #ffb838;
}

.btn-contorno {
  display:inline-block;
  padding: 0.5rem 1rem;
  border: 2px solid #fff;
  border-radius: 999px;
  color: #fff;
  text-decoration: none;
  front-weight: 600;
  transition: all 0.3s ease;
}

.btn-links {
  list-style: none;
  display: flex;
  padding: 0 1.5rem;
  gap: 1.5rem;
  align-items: center;
}

.btn-links li a {
  text-decoration: none;
  color: #fff;                 /**/
  font-weight: 600;
  transition: color 0.3s ease;
  align-items: center;
}

.btn-contorno:hover {
  background-color: #25D366;          /**/
  color: #fff;
}
.main-header.scrolled {
  background-color: #fff;
  padding: .5rem .5rem;

}


/* scrolled */

header.scrolled img#logo {
  height: 60px;
  margin-top: 0;
  margin-left: 0;
}

.main-header.scrolled .nav-links li a {
  color: #0033a0;
}

.main-header.scrolled .nav-links li a:hover {
  color: #ffb838;
}

.main-header.scrolled .btn-contorno {
  border-color: #0033a0;
  color: #0033a0;
}

.main-header.scrolled .btn-contorno:hover {
  background-color: #25D366;
  color: #fff;
}

.main-header.scrolled .nav-links li a { color: #0033a0; }
.main-header.scrolled .nav-links li a:hover { color: #ffb838; }
.main-header.scrolled .btn-contorno { border-color: #0033a0; color: #0033a0; }
.main-header.scrolled .btn-contorno:hover { background-color: #25D366; color: #fff; }
